<div class="main-container">
	<div class="sub-container">
		<div class="text-container">
			<p class="home-title">
				Video Sync commenting Module.
			</p>
			<p>
				This is a small module built using the MEAN stack. Play and comment during the video and the 
				module sync's the comment to the current playing time and saves it in the database.
			</p>
			<p>
				When the video plays, all posted comments get highlighted relative to the time they were posted. 
			</p>
			<div>
			<a href="/#/video" class="link">Video App <span><img class="home-arrow" src="images/arrow.png"></span></a>
			</div>
		</div>
	</div>
</div>